{% extends '::base.html.twig' %}
{% block title %}Demo section - Jmlamo.net{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets 'bundles/jmlamodemo/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts '@JmlamoDemoBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% block sidebar %}
{{ parent() }}
<ul>
    <li><a href="{{ path('jmlamo_demo_hello_index') }}">Hello</a></li>
    <li><a href="{{ path('jmlamo_demo_random_index') }}">Random</a></li>
    <li><a href="{{ path('jmlamo_demo_routing_index') }}">Routing</a></li>
    <li><a href="{{ path('jmlamo_demo_session_index') }}">Session</a></li>
    <li><a href="{{ path('jmlamo_demo_twig_index') }}">Twig</a></li>
</ul>
{% endblock %}