{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Doctrine:index{% endblock %}

{% block body %}
<h1>Doctrine homepage</h1>
<ul>
    <li><a href="{{ path('jmlamo_demo_doctrine_create') }}">Create random product</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_findbyordered') }}">See randomly created products</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_show', {id: 2}) }}">Product by id: 2</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_show', {id: 0}) }}">404 for product 0</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_autoshow', {id: 2}) }}">Product by id 2 using @ParamConverter</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_autoshow', {id: 0}) }}">404 for product 0 using @ParamConverter</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_findonebyname', {name: 'Banana splitter'}) }}">Product by name : &quot;Banana splitter&quot;</a></li>
</ul>
{% endblock %}
