{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Doctrine:index{% endblock %}

{% block body %}
<h1>Doctrine homepage</h1>
<ul>
    <li><a href="{{ path('jmlamo_demo_doctrine_create') }}">Create random product</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_findbyordered') }}">Randomly created products, using findBy</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_show', {id: 2}) }}">Product by id: 2</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_show', {id: 0}) }}">404 for product 0</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_autoshow', {id: 2}) }}">Product by id 2 using @ParamConverter</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_autoshow', {id: 0}) }}">404 for product 0 using @ParamConverter</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_findonebyname', {name: 'Banana splitter'}) }}">Product by name : &quot;Banana splitter&quot;</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_querybuilder', {max:60}) }}">Cheap products, using queryBuilder</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_dql', {max:80}) }}">Cheap products, using DQL</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_repository', {max:90}) }}">Cheap products, using repository method</a></li>
    <li><a href="{{ path('jmlamo_demo_doctrine_oneornull') }}">One (or none) product by name : &quot;Gluten-free apple&quot;</a></li>
</ul>
{% endblock %}
