{% extends 'JmlamoDemoBundle::base.html.twig' %}
{% block title %}JmlamoDemoBundle:Routing:index{% endblock %}
{% block body %}
<h1>Routing homepage</h1>
<dl>
    <dt>Page :</dt>
    <dd>{{ page }}</dd>
</dl>
<ul>
    <li><a href="{{ path('jmlamo_demo_routing_index', {'page': 1}) }}">&lt;&lt; Page 1</a></li>
    <li><a href="{{ path('jmlamo_demo_routing_index', {'page': 2}) }}">Page 2 &gt;&gt;</a></li>
    <li><a href="{{ path('jmlamo_demo_routing_show', {'slug': 'my-blog-post'}) }}">Relative link to &quot;my blog post&quot;</a></li>
    <li><a href="{{ url('jmlamo_demo_routing_show', {'slug': 'my-blog-post'}) }}">Absolute link to &quot;my blog post&quot;</a></li>
    <li><a href="{{ url('jmlamo_demo_routing_browser') }}">Browser user-agent detection</a></li>
    <li><a href="{{ url('jmlamo_demo_routing_contact') }}">Method detection (GET/POST)</a></li>
    <li><a href="{{ url('jmlamo_demo_routing_year') }}">Year, html format</a></li>
    <li><a href="{{ url('jmlamo_demo_routing_year', {'_format': 'json'}) }}">Year, json format</a></li>
</ul>
{% endblock %}
