{% extends 'JmlamoDemoBundle::base.html.twig' %}

{% block title %}JmlamoDemoBundle:Validation:index{% endblock %}

{% block body %}
<h1>Validation homepage</h1>
<ul>
    <li><a href="{{ path('jmlamo_demo_validation_setname') }}">Create author with blank name (fails !)</a></li>
    <li><a href="{{ path('jmlamo_demo_validation_setname', {name: "Jude"}) }}">Create author with a name (ok !)</a></li>
    <li><a href="{{ path('jmlamo_demo_validation_setgender') }}">Create author without gender (ok !)</a></li>
    <li><a href="{{ path('jmlamo_demo_validation_setgender', {gender: "Adams"}) }}">Create author with a weird gender (fails !)</a></li>
    <li><a href="{{ path('jmlamo_demo_validation_setgender', {gender: "male"}) }}">Create author with a valid gender (ok !)</a></li>
</ul>
{% endblock %}
